
@model System.Data.Entity.Core.Objects.ObjectResult<Final.Models.pSelClassesByStudentID_Result>
@{
    ViewBag.Title = "MyCourses";
    if (TempData["shortMessage"] == null)
    {
        TempData["shortMessage"] = "";
    }
}

<h2>MyCourses</h2>
<p><b>@TempData["shortMessage"].ToString()</b></p>

@using (Html.BeginForm("MyCourses", "User", FormMethod.Post))
{
    <table class="table-condensed table-bordered">
        <tr>
            <th>ClassName</th>
            <th>ClassDate</th>
            <th>ClassDescription</th>
            <th>Action</th> 
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
                <td>@Html.DisplayFor(modelItem => item.ClassDate)</td>
                <td width="250px">@Html.DisplayFor(modelItem => item.ClassDescription)</td>
                <td><input type="submit" @{<text>value="Drop Course @item.ClassId"</text>}  name="ClassId" /></td> 
            </tr>
        }
    </table>
}