

@model IEnumerable<Final.Models.vClass>
@{
    ViewBag.Title = "Courses";
    if (TempData["shortMessage"] == null)
    {
        TempData["shortMessage"] = "";
    }
}
<p><br /> </p>
<table class="table-condensed table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ClassName)</th>
        <th>@Html.DisplayNameFor(model => model.ClassDate)</th>
        <th>@Html.DisplayNameFor(model => model.ClassDescription)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDescription)</td>
        </tr>
    }
</table>