
@{
    ViewBag.Title = "NewLogin";
}

<h2>New Login</h2>
<p><b>@ViewBag.Message</b></p>

@using (Html.BeginForm("NewLogin", "Default", FormMethod.Post))
{
    <table class="table-condensed">
        <tr>
            <td>Name: </td>
            <td>@Html.TextBox("Name", "", new { @class = "form-control", @minlength="3", required = "required", @placeholder = "John" })</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBox("Email", "", new { @class = "form-control", @type="email", required = "required", @placeholder = "name@domain.com" })</td>
        </tr>
        <tr>
            <td>Login: </td>
            <td>@Html.TextBox("Login", "", new { @class = "form-control", @minlength = "5", required = "required", @placeholder = "jhdoe" })</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>@Html.TextBox("Password", "", new { @class = "form-control", @minlength = "5", required = "required", @type="password", @placeholder = "••••••••" })</td>
        </tr>
        <tr>
            <td><input 
                       type="submit" 
                       id="createUser" 
                       class="form-control"
                       value="Submit " /></td>
            <td></td>
        </tr> 
    </table>

}